.maincontent {
  padding: 10px; }
  .maincontent i.icon.star {
    color: gold; }
  .maincontent .ui.card.article-card {
    cursor: pointer;
    margin-bottom: 10px; }

/*# sourceMappingURL=index.css.map */
